<table class="table" id="information-view">
    <tr>
        <th>担当地域</th>
        <td>
            <% @profile.cities.each do |c| %>
                <span style="margin-right: 5px"><%= c.name %></span>
            <% end %>
        </td>
    </tr>
    <tr>
        <th>紹介文</th>
        <td><%= simple_format(@profile.pr) %></td>
    </tr>
    <tr>
        <th>代表者名</th>
        <td><%= @profile.representative_name %></td>
    </tr>
    <tr>
        <th>住所</th>
        <td><%= @profile.address %></td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td><%= @profile.tel %></td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
    </tr>
</table>
