<h1>プロフィール内容を編集する</h1>

<%= form_with(model: @profile, local: true) do |f| %>
    <%= hidden_field_tag :user_id, current_user.id %>
    <table class="table" id="information-view">
        <tr>
            <th>担当地域</th>
            <td>
                <%= f.collection_check_boxes :city_ids, City.all, :id, :name do |b|%>
                    <span style="margin-right: 5px"><%= b.check_box + b.label %></span>
                <% end %>
            </td>
        </tr>
        <tr>
            <th>紹介文</th>
            <td><%= f.text_area :pr, style: 'width:100%' %></td>
        </tr>
        <tr>
            <th>代表者名</th>
            <td><%= f.text_field :representative_name %></td>
        </tr>
        <tr>
            <th>住所</th>
            <td><%= f.text_field :address %></td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td><%= f.text_field :tel %></td>
        </tr>
<!--
        <tr>
            <td>メールアドレス</td>
            <td><%= f.text_field :email %></td>
        </tr>
-->
    </table>
    
    <div class="row justify-content-center">
        <%= f.submit '編集', class: 'btn btn-primary' %>
    </div>
<% end %>