<h1 class="mb-2">メッセージ詳細</h1>

<div class="float-right">
    <%= link_to "#{@opponent.name}の詳細", user_path(@opponent), class: 'btn btn-outline-primary mb-2' %> 
</div>

<table class="table">
    <% @messages.each do |m| %>
        <tr>
            <td>
                <div class="message">
                    <div class="row mb-1 justify-content-between">
                        <h5><%= m.user.name %></h5>
                        <span><%= m.created_at.strftime("%Y年%m月%d日 %H時%M分") %></span>
                    </div>
                    <%= simple_format(m.content) %>
                </div>
            </td>
        </tr>
    <% end %>
</table>

<!--
<table class="table">
    <% @messages.each do |m| %>
        <tr>
            <th><%= m.user.name %></th>
            <td><%= m.created_at.strftime("%Y年%m月%d日 %H時%-M分") %></td>
        </tr>
        <tr>
            <td colspan="2"><%= m.content %></td>
        </tr>
    <% end %>
</table>
-->

    <%= form_with(model: @message, local: true) do |f| %>
      <%= f.text_area :content, style: 'width:100%', class: 'form-control' %>
      <%= f.hidden_field :entry_id, :value => @entry.id %>
      <br>
      <div class="float-right">
          <%= f.submit "送信する", class: 'btn btn-primary justify-content-end'%>
      </div>
    <% end %>
    
    <br>
    <%= link_to 'メッセージ一覧に戻る', entries_path, class: 'btn btn-secondary' %>
</div>
