<div class="row">
    <aside class="col-sm-3">
        <%= render 'user_sidebar', user: @user %> 
    </aside>
    <div class="col-sm-9">
        <% if @user.is_estate %>
            <%# 不動産ユーザー %>
            <h3>プロフィール</h3>
                <div class="row float-right mb-2">
                    <%= render 'profiles/profile_button', profile: @profile %> 
                </div>

            <% if @profile != nil %>
                <%= render 'profiles/profile_view', profile: @profile %>
            <% end %>
        <% else %>
            <%# 一般ユーザー %>
            <h3>オファー内容</h3>
                <div class="row float-right mb-2">
                    <%= render 'offers/offer_button', user: @user, offer: @offer, entry: @entry %>
                </div>
            <% if @offer != nil %>
                <%= render 'offers/offer_view', offer: @offer %>
            <% end %>
        <% end %>
    </div>
</div>
