<div class="row">
    <aside class="col-sm-3">
        <%= render 'user_sidebar', user: @user %> 
    </aside>
    <div class="col-sm-9">
        <% if @user.is_estate %>
            <%# 不動産ユーザー %>
            <h3>プロフィール</h3>
            <div class="row float-right mb-2">
                <a href="#"><button class="btn btn-primary mr-2">編集</button></a>
            </div>
            
            <% if @profile != nil %>
                <table class="table">
                    <tr>
                        <td style="width: 20%">担当地域</td>
                        <%# citiesとの関連作ってから %>
                    </tr>
                    <tr>
                        <td>紹介文</td>
                        <td><%= @profile.pr %></td>
                    </tr>
                    <tr>
                        <td>商号</td>
                        <td><%= @profile.business_name %></td>
                    </tr>
                    <tr>
                        <td>住所</td>
                        <td><%= @profile.address %></td>
                    </tr>
                    <tr>
                        <td>電話番号</td>
                        <td><%= @profile.tel %></td>
                    </tr>
                    <tr>
                        <td>メールアドレス</td>
                        <td><%= @user.email %></td>
                    </tr>
                </table>
            <% end %>
        <% else %>
            <%# 一般ユーザー %>
            <h3>オファー内容</h3>
            <div class="row float-right mb-2">
                <%= link_to '編集', edit_offer_path(@offer.id), class: 'btn btn-primary mr-2' %> 
            </div>
    
            <% if @offer != nil %>
                <table class="table">
                    <tr>
                        <td style="width: 20%">希望地域</td>
                        <td>
                            <% @offer.cities.each do |c| %>
                                <span style="margin-right: 5px"><%= c.name %></span>
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td>家賃</td>
                        <td><%= @offer.min_price.to_s %>円 〜 <%= @user.offer.max_price.to_s %>円</td>
                    </tr>
                    <tr>
                        <td>築年数</td>
                        <td><%= @offer.years.to_s %>年以内</td>
                    </tr>
                    <tr>
                        <td>駅徒歩</td>
                        <td><%= @offer.walking_time.to_s %>分以内</td>
                    </tr>
                    <tr>
                        <td>専有面積</td>
                        <td><%= @offer.min_size.to_s %>平米以上</td>
                    </tr>
                    <tr>
                        <td>家族構成</td>
                        <td>
                            <% if @offer.is_family %>ファミリー
                            <% else %>単身
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td>こだわり条件</td>
                        <td>
                            <% @offer.choices.each do |c| %>
                                <div><%= c.content %></div>
                            <% end %>
                        </td>
                    </tr>
                </table>
            <% end %>
        <% end %>
    </div>
</div>
