<h1>オファー内容を編集する</h1>

<%= form_with(model: @offer, local: true) do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :is_offered, :value => true %>
    <table class="table">

        <tr>
            <td style="width: 20%">希望地域</td>
            <td>
                <%= f.collection_check_boxes :city_ids, City.all, :id, :name do |b|%>
                    <span style="margin-right: 5px"><%= b.check_box + b.label %></span>
                <% end %>
            </td>
        </tr>
        <tr>
            <td>家賃</td>
            <td><%= f.number_field :min_price %>円 ~ <%= f.number_field :max_price %>円</td>
        </tr>
        <tr>
            <td>築年数</td>
            <td><%= f.number_field :years %>年以内</td>
        </tr>
        <tr>
            <td>最寄駅徒歩</td>
            <td><%= f.number_field :walking_time %>分以内</td>
        </tr>
        <tr>
            <td>専有面積</td>
            <td><%= f.number_field :min_size %>平米以上</td>
        </tr>
        <tr>
            <td>家族構成</td>
            <td>
                <label style="margin-right: 10px"><%= f.radio_button :is_family, :false %>単身</label>
                <label><%= f.radio_button :is_family, :true %>ファミリー</label>
            </td>
        </tr>
        <tr>
            <td>こだわり条件</td>
            <td>
                <%= f.collection_check_boxes :choice_ids, Choice.all, :id, :content do |b| %>
                    <div><%= b.check_box + b.label %></div>
                <% end %>
            </td>
        </tr>
    </table>
    <div class="row justify-content-center">
        <%= f.submit '編集', class: 'btn btn-primary'%>
    </div>
<% end %>
